
<h2><%= @survey.title %></h2>
<h4><%= @survey.description %>
<main class="form-wrapper" role="main">

  <form method="post" action="/surveys/respondent/<%= @survey.id %>">

    <% Question.all.each do |question|  %>
        <%= question.id%>. <%= question.text  %>
        <% question.choices.each do |choice| %>
        <ul>
            <input type="radio" name=" question_id[<%= question.id %>]" value="<%= choice.id %>" ><%= choice.text %>
        </ul>
        <% end %>
    <% end %>
    <input type= "submit" value="Submit Responses" class "button">

  </form>
</main>

