
<h2><%= @survey.title %></h2>
<h4><%= @survey.description %>
<main class="form-wrapper" role="main">

  <form method="post" action="/surveys/respondent/<%= @survey.id %>">
    <% item = 1 %>
    <% question = @questions.first %>
    <div class="question" id="<%= question.id%>" style="display: on" >
        <%= item %>. <%= question.text  %>
        <% item +=1 %>
        <% question.choices.each do |choice| %>
        <ul>
            <input type="radio" name="<%= question.id %>" value="<%= choice.id %>" ><%= choice.text %>
        </ul>
        <% end %>

        <button onclick="showNextQuestion(question)" class="question_button" id="<%= item %>">Next</button>
    </div>


    <% @questions[1..-1].each do |question|  %>
    <div class="question" id="<%= question.id%>" style="display: none" >
        <%= item %>. <%= question.text  %>
        <% item +=1 %>
        <% question.choices.each do |choice| %>
        <ul>
            <input type="radio" name="<%= question.id %>" value="<%= choice.id %>" ><%= choice.text %>
        </ul>
        <% end %>

        <button onclick="showNextQuestion(question)" class="question_button" id="<%= item %>">Next</button>

    </div>
    <% end %>
    <input type= "submit" value="Submit Responses" class="button">

  </form>
</main>


